*{
    padding: 0;
    margin: 0;
}
img{
    height: 200px;
    width: 200px;
}
body{
    font-family: cursive;
    background: #000;
}
.card{
    height: 300px;
    width: 300px;
}
a{
    text-decoration: none;
    color:black;
}
h1{
    color:white;
}
#tag{
    text-decoration: none;
    color: rgb(23, 79, 125);
}
#YASH{
    height: 40px;
    width: 120px;
    border: 2px solid rgb(47, 65, 156);
    border-radius: 50%;
    text-align: center;
    font-family: cursive;
    margin-left: 30px;
}