body{
    background-image: radial-gradient(circle, rgb(237, 167, 167), rgb(237, 237, 197), rgb(154, 181, 154));
    height:600px;

}
#photo{
    height: 300px;
    width: 300px;
}

#cloth{
    height:600px;
    width: 400px;
}
.card{
    height: 200px;
    color: whitesmoke;
    width: 400px;
    background-color:rgb(165, 199, 85);
    /* margin-left: x; */
}
#nev{
    margin-left: 1110px;
}
#Men{
    /* margin-left: 160px; */
}
#M{
    height: 80px;
    font: 50px sans-serif;
    text-align: center;
    width: 150px;
}
#A{
    height: 80px;
    font: 50px sans-serif;
    text-align: center;
    width: 150px;
}
#YASH{
    height: 40px;
    width: 120px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    font-family: cursive;
    margin-left: 30px;
    margin-top: -10px;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
    color:whitesmoke;
}
.card1{
    height: 200px;
    color: whitesmoke;
    width: 400px;
    background-color:rgb(165, 199, 85);
    /* margin-left: x; */
}
/* .card:hover{
    transform: scale(1.1);
} */
img{
    height: 200px;
    width: 400px;
    
}
label{
    margin-left: 30px;
    
}
#tag{
    text-decoration: none;
    color: black;
}
/* #drop{
    height: 400px;
    width: 400px;
    background: #72a4e0;
    border: 2px solid rgb(105, 89, 89);

} */
.dropdown-menu{
    height: 300px;
    width: 400px;
    background: #4a96a7;
}


.btn{
    background:none;
}
.btn1{
    margin-top:-30px;
    background:none;
    color: white;
    border: none;
}

